body
{
	background:#FCFCFC;
}
.say-btn
{
	text-align:right;
	margin-top:12px;
}

#dialog
{
    overflow-x: auto;
    height: 600px;
	background:#EEEEEE;
}

.textarea
{
    height:6em;
	width:100%;
}

#userlist
{
    overflow-x: auto;
    height: 600px;
	background:#EEEEEE;
}

#userlist > li
{
	color:#1372A2;
	list-style:none;
	margin-left:12px;
}

#userlist > h4
{
    text-align:center;
	font-size:14px;
	font-weight:nold;
}

.words
{
	margin:8px;
}


.triangle-isosceles {
    position:relative;
    padding:10px;
    margin:10px 0 14px;
    color:#000;
    background:#D3FF93; /* default background for browsers without gradient support */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#EFFFD7), to(#D3FF93));
    background:-moz-linear-gradient(#EFFFD7, #D3FF93);
    background:-o-linear-gradient(#EFFFD7, #D3FF93);
    background:linear-gradient(#EFFFD7, #D3FF93);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);  
    -webkit-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);  
     box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);  
}


.triangle-isosceles.top {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#D3FF93), to(#EFFFD7));
    background:-moz-linear-gradient(#D3FF93, #EFFFD7);
    background:-o-linear-gradient(#D3FF93, #EFFFD7);
    background:linear-gradient(#D3FF93, #EFFFD7);
}

.triangle-isosceles.right {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#07d6d6), to(#666fde));
    background:-moz-linear-gradient(#07d6d6, #666fde);
    background:-o-linear-gradient(#07d6d6, #666fde);
    background:linear-gradient(#07d6d6, #666fde)
}
.triangle-isosceles:after {
    content:"";
    position:absolute;
    bottom:-9px;
    left:15px;
    border-width:9px 21px 0; 
    border-style:solid;
    border-color:#D3FF93 transparent;
    display:block; 
    width:0;
}
.triangle-isosceles.top:after {
    top:-8px;
    left:15px;
    bottom:auto;
    border-width:0 9px 9px;
    border-color:#D3FF93 transparent;
}

.triangle-isosceles.right:after {
    top: -9px;
    left: inherit;
    right: 15px;
    bottom: auto;
    border-width: 0 9px 9px;
    border-color: #07d6d6 transparent;
}

.user_icon
{
	float:left;border:1px solid #DDDDDD;padding:2px;margin:0 5px 0 5px;
}

.cp
{
	color:#888888;
	text-align:center;
	font-size:11px;
}

.thumbnail
{
	border:1px solid #CCCCCC;
}

.text-overflow{
    display:block;                     /*内联对象需加*/
    width:31em;
    word-break:keep-all;           /* 不换行 */
    white-space:nowrap;          /* 不换行 */
    overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
#face_panel {
    background: #fff;
    bottom: -30px;
    left: 0px;
    margin-bottom: 80px;
    overflow-y: hidden;
    padding: 0;
    width: 720px;
    position: absolute;
    height: 240px;
    box-shadow: 0 0 6px rgba(94,89,89,.57);
}
#face_panel #choose_face {
    border-width: 0;
    width: 720px;
    margin: 8px 0px;
}
#face_panel #choose_face {
    zoom: 1;
}
#face_panel a {
    border: 0;
    padding: 4px;
    height: 63px;
    color: #6e747a;
    text-align: center;
    margin: 3px 1px;
    width: 50px;
}

#choose_face a {
    display: block;
    float: left;
    height: 76px;
    width: 52px;
}
#sendEmojiIcon {
    width: 50px;
    height: 52px;
    text-align: center;
    font-size: 30px;
    color: #787d82;
    line-height: 52px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 9;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}